<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jitu516.tournepal" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Weekend"
            android:label="@string/title_activity_weekend" >
            <intent-filter>
                <action android:name="com.example.jitu516.tournepal.Weekend" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Explore"
            android:label="@string/title_activity_explore" >
            <intent-filter>
                <action android:name="com.example.jitu516.tournepal.Explore" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Vacations"
            android:label="@string/title_activity_vacations" >
            <intent-filter>
                <action android:name="com.example.jitu516.tournepal.Vacations" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tour"
            android:label="@string/title_activity_tour" >
            <intent-filter>
                <action android:name="com.example.jitu516.tournepal.Tour" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        </application>

</manifest>
